<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <a href="https://en.wikipedia.org/wiki/Special:Random" role="button" class="btn btn-default btn-circle">Get a Random Wikipedia Article</a>
      <input ng-keypress="($event.charCode==13)?vm.getArticles(search):return" type="text" class="form-control btn-circle" ng-model="search" placeholder="Search Wikipedia for..">
    </div>
  </div>
  <div class="row">
    <div class="well well-lg" ng-repeat="article in vm.articles track by $index"> {{article}}</div>
  </div>
</div>
